{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Login</h2>

    <form method="POST" class="mx-auto" style="max-width: 400px;">

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="email" required>
        </div>


        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password" required>
        </div>


        <button type="submit" class="btn btn-primary w-100">Login</button>


        <div class="text-center mt-3">
            Not registered yet? <a href="{{ url_for('routes.home') }}">
            Register</a>
        </div>
    </form>
</div>
{% endblock %}
